* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}


.back-to-products {
    color: #c11515;
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
}

.back-to-products:hover {
    color: white;
    text-decoration: none;
    background-color: #c11515;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
}

/* estilização do carrinho */
.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ebebeb;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.cart-items {
    flex: 2;
    margin-right: 20px;
}

.cart-summary {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 180px;
}

.cart-summary h2 {
    margin-top: 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 10px;
    color: #d50000;
}

#total-price {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0;
}

.btn-clear-cart {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-clear-cart:hover {
    background-color: #c82333;
}

/* estilo dos podutos do carrinho */
.cart-item-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.store-name {
    border-bottom: 1px solid black;
    width: 100%;
}

.cart-item-card .store-name {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    color: #555;
}

.cart-item-card .product-info {
    display: flex;
    align-items: center;
}


.cart-item-card .product-info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 90px;
}

.cart-item-card .product-info .product-name {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-item-card .product-info .product-price {
    font-size: 1.2rem;
    color: #ff0000;
    font-weight: bold;
}


   /* nav bar */
   .nav-bar {
    bottom: 0;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f8f8;
    z-index: 10001;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.link a:not(.home) {
    text-decoration: none;
    color: #5f5f5f;
    font-weight: 500;
}

.home {
    color: #f41111;
    text-decoration: none;
    font-weight: 600;
}

.suma {
    user-select: none;
    color: transparent;
    margin-bottom: 30px;
}

.intro-produtos-2 {
    display: flex;
    font-size: 25px;
    gap: 5px;
    padding: 15px;
}

@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
    }

    .cart-items {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .cart-item-card {
        flex-direction: column;
        align-items: center;
    }

    .cart-item-card .product-info {
        flex-direction: row;
        align-items: center;
        }

    .cart-item-card .product-info img {
        margin-bottom: 10px;
    }
}