*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
    display: flex;
  }

.up {
    display: none;
}

.lado-1, .lado-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-1 {
    background-color: white;
  }

.lado-2 {
    background-color: #c11515;
  }

.lado-2 img {
    width: 70%;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.4));
  }

form {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

form p:not(input) {
    margin: 0;
} 

form h1 {
    text-align: center;
    margin: 0;
}

input {
    width: 100% !important;
    border: none;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 7px;
}

input:focus {
    box-shadow: none;
    outline: none;
}

.creat-accont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.creat-accont a{
   text-decoration: none;
   color: #c11515;
   font-weight: 500;
} 

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
    margin: 0 10px;
}

.another-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.another-login  button{
    border: none;
    font-size: xx-large;
    background-color: transparent;
    color: rgb(87, 87, 229);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px;
    color: white;
    flex: 2;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        background: linear-gradient(90deg, rgba(121, 0, 0, 1) 0%, rgba(174, 2, 2, 1) 35%, rgba(226, 3, 3, 1) 100%);
    }

    .lado-2 {
        display: none;
    }

    .up {
        order: 1;
        display: flex;
        padding: 15px;
        align-items: center;
        justify-content: center;
    }

    .up img {
        width: 190px;
        filter: drop-shadow(0 2px 5px rgba(0,0,0,0.3));
        ;
    }

    .lado-1 {
        order: 2;
        border-radius: 30px 30px 0 0 !important;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
    }
   
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}