*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    width: 100vw;
    height: 100vh;

  }

.up {
    display: none;
} 

.lado-1 {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.lado-2 {
    width: 50%;
    height: 100%;
    background-color: #c11515;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.lado-2 img {
    width: 70%;
  }

form {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

form p {
    font-size: small;
} 

form h1 {
    text-align: center;
    margin: 0;
}

input {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 7px;
}

input:focus {
    box-shadow: none;
    outline: none;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
    margin: 0 10px;
}

.another-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.another-login  button{
    border: none;
    font-size: xx-large;
    background-color: transparent;
    color: rgb(87, 87, 229);
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        background: linear-gradient(90deg, rgba(121, 0, 0, 1) 0%, rgba(174, 2, 2, 1) 35%, rgba(226, 3, 3, 1) 100%);
    }

    .lado-2 {
        display: none;
    }

    .up {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;
    }

    .up img {
        width: 200px;
        filter: drop-shadow(0 2px 5px rgba(0,0,0,0.3));
        ;
    }

    .lado-1 {
        order: 2;
        border-radius: 30px 30px 0 0 !important;
        width: 100%;
        height: 70%;
        padding: 10px;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
    }
   

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}