*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .profile-pharm-container {
    width: 100%; 
    background: black; 
    background-size: cover;
    background-position: top;
    height: 200px; 
    align-items: center; 
    display: flex;
  }

  .profile-pharm-content {
    display: flex;
    padding: 5px;
    gap: 5px;
  }

  .profile-pharm-content h1 {
    margin: 0;
    color: white;
  }

  .profile-pharm-content span {
    color: rgb(255, 217, 0);
    font-size: 20px;
  }