*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.profile-pharm-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 8px;
  background-color: rgb(247, 247, 247);;
}

.profile-pharm-banner {
  height: 280px;
  background-color: brown;
  border-radius: 5px;
  background-image: url('https://www.gov.br/saude/pt-br/campanhas-da-saude/2023/farmacia-popular/imagens-carrossel/banner-topo-carrosse_1200x455px_tela-01.png');
  background-position: center;
}

.profile-pharm-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.profile-pharm-left {
  display: flex;
  gap: 10px;
}

.profile-pharm-left h3 {
  margin: 0;
}

.profile-pharm-left span {
  color: #ffcf00;
}
