* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
      --cor-de-fundo: #e6e6e6;
      --cor-principal: #c11515;
  }

  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--cor-de-fundo);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 10px;
    background-color: var(--cor-principal);
  }

  .menu-hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
  }

  .search-bar {
    flex: 1;
    max-width: 600px;
    max-height: 40px;
    margin: 0 20px;
    background-color: #d15858;
    border: 2.3px solid rgb(240, 240, 240);
    border-radius: 45px;
    align-items: center;
    display: flex;
  }

  .search-bar input {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
  }

  .search-bar input::placeholder {
      color: rgba(255, 255, 255, 0.429);
  }

  .search-bar button {
      background-color: rgba(240, 240, 24o);
      border-radius: 0px 25px 25px 0px;
      padding: 8px;
      font-size: 16px;
      border: none;
      color: var(--cor-principal);
    }

  .search-bar input:focus {
      box-shadow: none;
      outline: none;
  }

  .chat-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    .menu-hamburger {
      display: block;
    }



    .nav-links {
      display: none;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgba(220, 20, 60, 0.368);
    transition: 0.5s;
    transform: translateX(-1%);
    z-index: 10;
    padding: 10px;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 10px 20px;
  }

  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
  }

  .overlay.show {
    display: block;
  }